html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}
body{
  background-color: white;
  text-align: center;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.heading{
  font-size: 2.5rem;
  font-weight: bold;
}
.desc{
  font-size: 1.5rem;
  font-weight: 400;
}

/* Navbar */
#navbar{
  position: relative;
}
.navbar {
  height: auto;
  width: auto;
  background-color: white;
  color: black;
}

.navbar-brand {
  width: 100px;
  color: black;
}

.nav-item {
  text-align: right;
  font-size: 1.5rem;
  padding: 0 1rem;
}

/*Header*/
#header{
  position: relative;
  margin: 0 2.5%;
}

.hero-image {
  background-image: url("Images/grinding.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, 8.3333333%);
  animation-name: animate-header-text;
  animation-duration: 2s;
}

.hero-text {
  text-align: center;
  grid-column: 2;
  grid-row: 6;
  color: black;
}

@keyframes animate-header-text {
  0% {
    opacity: 0;
    box-shadow: 0px 3px white;
  }

  100% {
    opacity: 1;
  }
}

.header-text-large {
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  background-color: white;
  box-shadow: 0 10px white;
  animation-name: animate-header-text;
  animation-duration: 2.5s;
}

.header-text-small {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  background-color: white;
  animation-name: animate-header-text;
  animation-duration: 2.5s;
}

/* About us */
#about-us{
  position: relative;
  margin: 5% 2.5%;
}

.about-img{
  background-image: url(Images/about.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;

}

/* Services */
#services{
  position: relative;
  margin: 5% 2.5%;
}

.card-deck{
  margin-top: 2%;
}

.card-img-top{
  height: 150px;
}

.card-img-top:hover {
  opacity: 0.7;
}


/* Clients */
#clients{
  position: relative;
  margin: 5% 2.5%;
}
.column-client{
  float: left;
  width: 50%;
  height: auto;
  padding: 5px;
}
.icon-spacing{
  height: 2rem;
}
.grid-spacing-client-icons{
  width: 60px;
  height: 60px;
}

/* Footer */
#footer {
  position: relative;
  margin: 10% 2.5% 2.5%;
}

.bold-text {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

.address-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer-image{
  width: 150px;
  height: auto;
  display: inline-block;
}
.company-logo-footer{
  width: 150px;
  height: auto;
}
.company-address{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.contact-button{
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  font-weight: 500;
}

.vertical-center{
  margin: 10% 0 2% 0;
  position: relative;
}

/* Resposniveness */
@media only screen and (max-width: 900px){
  .heading{
    font-size: 2rem;
  }
  .desc{
    font-size: 1.2rem;
  }
  .about-img{
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 10px solid white;
  }
  .footer-info{
    margin-top: 2rem;
  }
  .card{
    margin-top: 5%;
  }

  #footer{
    margin: 10% 2.5%;
  }
  #clients{
    position: relative;
    margin: 10% 2.5%;
  }
  #services{
    position: relative;
    margin: 10% 2.5% 0 2.5%;
  }
  #about-us{
    position: relative;
    margin: 10% 2.5%;
  }
  .hero-image {
    background-image: url("Images/grinding.jpg");
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, 8.3333333%);
    animation-name: animate-header-text;
    animation-duration: 2s;
  }

  .hero-text {
    text-align: center;
    grid-column: 2;
    grid-row: 6;
    color: black;
    width: 60%;
  }

  .header-text-large {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    background-color: white;
    box-shadow: 0 10px white;
    animation-name: animate-header-text;
    animation-duration: 2.5s;
  }

  .header-text-small {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    background-color: white;
    animation-name: animate-header-text;
    animation-duration: 2.5s;
  }
}
