html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}
body{
  background-color: #f9f6f7;
  text-align: center;
  height: 100%;
}
.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.heading{
  font-size: 2.5rem;
  font-weight: bold;
}
.desc{
  font-size: 1.5rem;
  font-weight: 400;
}
.panel{
    margin: 10% 2.5%;
    position: relative;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 5px 10px 0px #dfdfdf;
}

/* Navbar */
#navbar{
  position: relative;
}
.navbar-brand {
  width: 100px;
  color: black;
}

.nav-item {
  text-align: right;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: black;
}
.nav-item a{
  text-align: right;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: black;
}
.navbar{
  background-color: #f9f6f7;
  color: black;
}
.panel{
    margin: 10% 2.5%;
    position: relative;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 5px 10px 0px #dfdfdf;
}

/*Header*/
#header{
  position: relative;
  margin: 0 2.5%;
}

.header-image {
  background: url("Images/grinding.jpg");
  margin: 5% 2.5% 10% 2.5%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0;
}
.header-image h1 {
  font-size: 10rem;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  margin: 0;
  padding: 0;
  font-weight: 900;
}
.header-image span{
  font-weight: 500;
}

@keyframes animate-header-text {
  0% {
    opacity: 0;
    box-shadow: 0px 3px white;
  }

  100% {
    opacity: 1;
  }
}

.header-text-large {
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  background-color: white;
  box-shadow: 0 10px white;
  animation-name: animate-header-text;
  animation-duration: 2.5s;
}

.header-text-small {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  background-color: white;
  animation-name: animate-header-text;
  animation-duration: 2.5s;
}

/* About us */
.about-img{
  background-image: url(Images/about.jpg);
  background-color: black;
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  object-fit: scale-down;
  }

/* Services */
.card-deck{
  margin-top: 2%;
}

.card-img-top{
  height: 150px;
}

.card-img-top:hover {
  opacity: 0.7;
}

.water-and-environment-image{
  background-image: url("Images/Water and environment.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
.transportation-image{
  background-image: url("Images/Transportation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
.building-and-industrial-image{
  background-image: url("Images/Construction.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
.power-image{
  background-image: url("Images/electricity transmission.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
.mining-image{
  background-image: url("Images/mining.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
.op-and-mg-image{
  background-image: url("Images/operations and maintenance.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

/* Clients */
.column-client{
  float: left;
  width: 50%;
  height: auto;
  padding: 5px;
}
.icon-spacing{
  height: 2rem;
}
.grid-spacing-client-icons{
  width: 60px;
  height: 60px;
}

/* Presence */
#mapid {
  height: 400px;
  width: auto;
}

/* Footer */
.bold-text {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

.address-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer-image{
  width: 150px;
  height: auto;
  display: inline-block;
}
.company-logo-footer{
  width: 150px;
  height: auto;
}
.company-address{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.contact-button{
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  font-weight: 500;
}

.vertical-center{
  margin: 10% 0 2% 0;
  position: relative;
}

/* Resposniveness */
@media only screen and (max-width: 900px){
  .header-image h1 {
    font-size: 4rem;
  }
  .heading{
    font-size: 2rem;
  }
  .desc{
    font-size: 1.2rem;
  }
  .about-img{
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 10px solid white;
  }
  .footer-info{
    margin-top: 2rem;
  }
  .card{
    margin-top: 5%;
  }
  .panel{
      margin: 15% 2.5%;
      position: relative;
      background-color: #ffffff;
      padding: 25px;
      box-shadow: 0 5px 10px 0px #dfdfdf;
  }
  .hero-image {
    background-image: url("Images/grinding.jpg");
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, 8.3333333%);
    animation-name: animate-header-text;
    animation-duration: 2s;
  }

  .hero-text {
    text-align: center;
    grid-column: 2;
    grid-row: 6;
    color: black;
    width: 60%;
  }

  .header-text-large {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    background-color: white;
    box-shadow: 0 10px white;
    animation-name: animate-header-text;
    animation-duration: 2.5s;
  }

  .header-text-small {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    background-color: white;
    animation-name: animate-header-text;
    animation-duration: 2.5s;
  }

}
